package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Go Blueprint Hello</title>
			<script src="assets/js/htmx.min.js"></script>
			<link rel="stylesheet" href="assets/css/app.css"/>
		</head>
		<body>
			<main class="container mx-auto bg-slate-50  dark:bg-slate-800">
				{ children... }
			</main>
		</body>
	</html>
}
